* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: top 400% left 128%;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    margin: 1rem;
    /* why border radius on the main tag doesnt do anything */
}

main > img {
    border-radius: 15px 15px 0 0;
}

#profile-pic {
    border-radius: 50%;
    position: relative;
    bottom: 3.1rem;
}

#info-section {
    margin-top: -6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
}

#first-section {
    text-align: center;
}

h1 {
    margin-top: -2rem;
    color: hwb(229 18% 72%);
    font-size: 1.3rem;
    font-weight: 800;
}

h1 > span {
    font-weight: 400;
    font-size: 1.2rem;
    color: hsl(229, 23%, 23%);
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0 2rem 0;
}

.count {
    font-weight: 800;
    color: hsl(229, 23%, 23%);
    font-size: 1.3rem;
}

#second-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 1rem 1.6rem 1.6rem 1.6rem;
}



.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media screen and (min-width: 56rem) {
    body {
        background-image: url(images/bg-pattern-top.svg);
        background-position: top 165% right 185%;
    }
    h2 {
        margin: 0.5rem 0 1.3rem 0;
    }
    hr {
        margin-bottom: 0.4rem;
    }
}